@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Noto Sans TC, Inter, Avenir, Helvetica, Arial, sans-serif;
}
.back {
  font-family: 'system-ui', 'Helvetica', sans-serif;
  background-image: url('./assets/back1.jpg');
  background-size: cover; /* 讓圖片覆蓋整個畫面 */
  background-repeat: no-repeat; /* 不要重複 */
  background-attachment: fixed; /* 固定背景不隨捲動 */
  background-position: center; /* 背景圖片置中 */
}
